@mixin _vertical_align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin _font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin _no-outline {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@mixin _antialiasing {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: always;
}

@mixin _inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  zoom:1; *display: inline; _height: 15px;
}

@mixin _border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

@mixin _transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}