.navigation {
  text-align: center;
  margin: 20px 0px;
  padding: 0px;
  list-style: none;

  @include _breakpoint(tablet) {
    text-align: left;
    margin: 10px 0px;
  }
}

.navigation-item {
  @include _inline-block;
  margin-right: -4px;
  padding: 0px 10px;
  line-height: 1.2rem;
  border-right: 1px solid $dark_black;

  &:first-child {
    padding: 0px 10px 0px 0px;
  }

  &:last-child {
    padding: 0px 0px 0px 10px;
    border-right: 0px;
  }

  @include _breakpoint(tablet) {
    padding: 0px 7px;
    line-height: 1rem;

    &:first-child {
      padding: 0px 7px 0px 0px;
    }

    &:last-child {
      padding: 0px 0px 0px 7px;
    }
  }
}

.navigation-link {
  color: $dark_black;

  &:active, &:focus, &:hover {
    color: $dark_black;
    text-decoration: none;
  }
}

.no-touch {
  .navigation-link {
    &:hover {
      @include _transition(background-color .3s, color .3s);
      color: $dark_blue;
      text-decoration: none;
    }
  }
}
