.post-title {
  margin: 10px 0px;
}

.post {
  @include _breakpoint(tablet) {
     padding: 0px 10px 0px 0px;
  }

  a {
    color: $dark_blue;
  }
}

.post-list {
  list-style: none;
  margin: 0px;
  padding-left: 20px;

  @include _breakpoint(tablet) {
    padding-left: 30px;
  }
}

.post-item {
  margin: 3px 0px;

  &:first-child {
    margin: 0px 0px 3px;
  }

  &:last-child {
    margin: 3px 0px 0px;
  }

  @include _breakpoint(tablet) {
    margin: 10px 0px;

    &:first-child {
      margin: 0px 0px 10px;
    }

    &:last-child {
      margin: 10px 0px 0px;
    }
  }
}

.post-item-title {
  margin: 0px;
}

.post-item-link {
  @include _font-size(1);
  color: $dark_gray;

  @include _breakpoint(tablet) {
     @include _font-size(1.2);
  }

  &:active, &:focus, &:hover {
    color: $dark_gray;
    text-decoration: none;
  }
}

.no-touch {
  .post-item-link  {
    &:hover {
      @include _transition(background-color .3s, color .3s);
      color: $dark_blue;
      text-decoration: none;
    }
  }
}