/**
 * black scale
 */
$lighter_black: none;
$light_black: none;
$dark_black: #323232;

/**
 * gray scale
 */
$lighter_gray: rgb(250, 250, 250);
$light_gray: rgb(239, 239, 239);
$dark_gray: #676767;

$lighter_blue: none;
$light_blue: none;
$dark_blue: #2A6496;