---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li class="post-item">
          <a data-ga="{{ post.title }}" class="post-item-link" href="{{ post.url | prepend: site.baseurl }}">
            <p class="post-item-title">{{ post.title }}</p>
            <p class="post-item-date">{{ post.date | date: "%b %-d, %Y" }}</p>
            <p class="post-item-description">{{ post.description }}</p>
          </a>
      </li>
    {% endfor %}
  </ul>

  {% include post-pagination.html %}

</div>
