<ul class="social-networks">
  <li class="social-network-item">
    <a class="social-network email" href="mailto:{{ site.author.email }}">
      <i class="fa fa-envelope-o footer-social-icon"></i>
    </a>
  </li>
  <li class="social-network-item">
    <a class="social-network github" target="_blank" href="{{ site.author.github }}">
      <i class="fa fa-github footer-social-icon"></i>
    </a>
  </li>
  <li class="social-network-item">
    <a class="social-network twitter" target="_blank" href="{{ site.author.twitter }}">
      <i class="fa fa-twitter footer-social-icon"></i>
    </a>
  </li>
</ul>