html, body {
  @include _font-size(1.1);
  font-family: $nunito;
  font-weight: normal;
  color: $dark_black;
  width: 100%;
  min-width: $app_min_width;
  height: 100%;
  min-height: $app_min_height;
  margin: 0px auto;
  background: $lighter_gray;
}

h1, h2, h3, h4, h5, h6 {
  @include _antialiasing;
  font-family: $nunito;
  font-weight: normal;
  color: $dark_black;
}

p, a, button, span, input, li {
  @include _font-size(1.1);
  @include _antialiasing;
  @include _no-outline;
  font-family: $nunito;
  font-weight: normal;
  color: $dark_gray;
}

.page-heading {
  @include _antialiasing;
  @include _no-outline;
  font-family: $nunito;
  font-weight: normal;
  color: $dark_black;
  margin: 10px 0px;
}
