<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<title>{{ site.page.title }}</title>
<meta name="description" content="{{ site.meta.description }}">
<meta name="keywords" content="{{ site.meta.keywords }}">

<!-- og data -->
<meta property="og:title" content="{{ site.meta_og.title }}" />
<meta property="og:type" content="{{ site.meta_og.type }}" />
<meta property="og:url" content="{{ site.meta_og.url }}" />
<meta property="og:image" content="{{ site.meta_og.image }}" />
<meta property="og:site_name" content="{{ site.meta_og.site_name }}" />
<meta property="og:description" content="{{ site.meta_og.description }}" />
<!-- end of og data -->

<!-- twitter cards -->
<meta name="twitter:card" content="{{ site.meta_twitter.card }}">
<meta name="twitter:site" content="{{ site.meta_twitter.site }}">
<meta name="twitter:creator" content="{{ site.meta_twitter.creator }}">
<meta name="twitter:title" content="{{ site.meta_twitter.title }}">
<meta name="twitter:description" content="{{ site.meta_twitter.description }}">
<meta name="twitter:image:src" content="{{ site.meta_twitter.image_src }}">
<!-- end of twitter cards -->
