<!DOCTYPE html>
<html>
<head>

  {% include header/post_meta_tags.html %}

  {% include header/favicon.html %}

  <!-- custom fonts -->
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
  <!-- end custom fonts-->

  <!-- custom CSS -->
    <link rel="stylesheet" href="/styles/vendor/syntax.css">
    <link rel="stylesheet" href="/styles/vendor/normalize.css">
    <link rel="stylesheet" href="/styles/main.css">
  <!-- end custom CSS -->
</head>

<body>
